Resources:
  TempVolume:
    Type: AWS::EC2::Volume
    Properties:
      Size: 20
      AvailabilityZone: { "Fn::GetAtt" : [ "AWSEBEC2Instance", "AvailabilityZone" ] }
      VolumeType: gp3

  VolumeAttachment:
    Type: AWS::EC2::VolumeAttachment
    Properties:
      Device: /dev/sdf
      InstanceId: { "Ref" : "AWSEBEC2Instance" }
      VolumeId: { "Ref" : "TempVolume" }

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_mount_temp.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      mkfs -t ext4 /dev/sdf
      mkdir -p /mnt/temp
      mount /dev/sdf /mnt/temp
      chmod 1777 /mnt/temp
      echo "/dev/sdf /mnt/temp ext4 defaults,nofail 0 2" >> /etc/fstab
      export TMPDIR=/mnt/temp
      echo "export TMPDIR=/mnt/temp" >> /etc/profile.d/tmpdir.sh
